BOT_CONTAINER_NAME=aiogram_test_template
BOT_IMAGE_NAME=lev007ops/aiogram-bot-template
BOT_NAME=aiogram_bot_template
BOT_TOKEN=567:AAGLbuIl4xW97aYD5OEy0
ADMINS=123456,654321
USE_REDIS=True

DB_USER=exampleDBUserName
PG_PASSWORD=examplePostgresPass
DB_PASS=exampleDBPassword
DB_NAME=exampleDBName
DB_HOST=127.0.0.1
DB_PORT = 5431
